/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*===== Colors =====*/
    --first-color: #747474;
    --first-color-dark: #3b3b3b;
    --text-color: #524748;
    --first-color-light: #909090;
    --first-color-lighten: #f3f0eb;
    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /*===== Marge =====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
     :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*===== BASE =====*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h2,
h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*===== BACKGROUND =====*/

.v-header {
    display: flex;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}

.index {
    z-index: 2;
}

.topbar__container {
    margin: var(--mb-2);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
}

.nav__link {
    color: var(--first-color-lighten);
    padding: 0 20px;
}


/*===== SLOGAN =====*/

.title__content {
    text-align: center;
    width: 100vw;
    left: 0;
    padding-top: 1rem;
    margin: 0;
    color: var(--first-color-lighten);
    font-size: 2rem;
    font-weight: 400;
    display: none;
}

.slogan__content {
    width: 100%;
    text-align: center;
    margin: 2.3rem 0 2.3rem 0;
    color: rgba(255, 255, 255, .5);
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Caveat', cursive;
}


/*===== FORM =====*/

.button__content,
.contact__input,
.content__input,
.contact__button {
    background: rgba(0, 0, 0, .35);
    text-decoration: none;
    color: var(--first-color-lighten);
    border-radius: 2.5px;
    border: none;
    font-size: .8rem;
    padding: .4rem;
    font-family: var(--body-font);
}

.button__description {
    color: var(--first-color-lighten);
    font-size: .8rem;
}

.button__container {
    box-sizing: content-box;
    width: 100%;
    margin-bottom: .13rem;
}

.button__content {
    width: 49.37%;
    padding: 1rem, 0;
    border: 0;
    margin: 0;
    cursor: pointer;
}

.icon__right {
    position: absolute;
    padding: 8px 8px 8px 142px;
    color: var(--first-color);
    z-index: -2;
}

.icon__left {
    position: absolute;
    padding: 8px 12px 8px 142px;
    color: var(--first-color);
    z-index: -2;
}

input::placeholder,
textarea::placeholder {
    color: var(--first-color-light);
    font-family: var(--body-font);
    font-size: .8rem;
}

.input {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.contact__input {
    width: 100%;
}

.content__inputs {
    display: 50%;
}

.contact__button {
    width: 100%;
    text-align: center;
    margin-top: .3rem;
}


/*===== QUALIFICATIONS =====*/

.qualifications__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3rem 1.8rem 1.65rem 7rem;
    color: var(--first-color-lighten);
}

.experience__container {
    display: flex;
    flex-direction: column;
    font-size: .7rem
}

.icon__qualification {
    font-size: 2.2rem;
    position: absolute;
    z-index: -2;
    margin: 2px -45px;
    color: var(--first-color-light);
    color: rgba(255, 255, 255, .2);
}

.desc {
    color: var(--first-color-light);
}


/*===== SCROLLBAR DESIGN =====*/

::-webkit-scrollbar {
    width: 4px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}


/*===== BACKGROUND RESPONSIVE =====*/

@media(max-width:960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@media(min-width:1280px) {
    .fullscreen-video-wrap video {
        min-height: 100%;
        min-width: 100%;
        width: 100%;
    }
}